<div class="busqueda">
    <form class="custom-form" [formGroup]="searchForm" (ngSubmit)="buscar()">
        <input
        type="text"
        class="form-control rounded" 
        placeholder="Buscar"
        formControlName="busqueda"
        name="busqueda" />
        <br>
        <button type="submit" class="btn btn-primary">buscar</button>
    </form>
    <div class="col-4"  *ngFor="let book of result">
        <div class="card">
            <img class="card-img-top" src={{book.image_url}} alt="Foto">
           <div class="card-body">
                <h3 class="bookName">{{book.name}}</h3>
                <h6 class="bookDescription">{{book.description}}</h6>
                <p class="bookEdi">{{book.editorial.name}}</p>
            </div>
        </div>
    </div>
</div>