<div class="books">
    <form class="custom-form" [formGroup]="filterForm" (ngSubmit)="onSubmit()">
        <select class="spinner" formControlName="editorial">
            <option class="editorial-select" *ngFor="let editorial of editoriales">{{editorial.name}}</option> 
        </select>
        <button type="submit" class="btn">Filtrar</button>
    </form>
    <div class="row align-items-center">
        <div class="col-4"  *ngFor="let book of books">
            <div class="card">
                <img class="card-img-top" src={{book.image_url}} alt="Foto">
                <div class="card-body">
                    <h3 class="bookName">{{book.name}}</h3>
                    <h6 class="bookDescription">{{book.description}}</h6>
                    <p class="bookEdi">{{book.editorial.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

